[submodule "orbfont"]
	path = orbfont
	url = https://gitlab.redox-os.org/redox-os/orbfont.git
	branch = no_std
[submodule "orbclient"]
	path = orbclient
	url = https://gitlab.redox-os.org/redox-os/orbclient.git
	branch = no_std
