[package]
name = "system76_firmware_setup"
version = "1.0.0"
edition = "2018"

[lib]
name = "system76_firmware_setup"
path = "src/lib.rs"
crate-type = ["staticlib"]

[dependencies]
bitflags = "1.2"
coreboot-table = { git = "https://gitlab.redox-os.org/redox-os/coreboot-table.git" }
ecflash = { git = "https://github.com/system76/ecflash.git" }
memoffset = "0.3"
orbclient = { version = "0.3.21", features = ["no_std"] }
orbfont = { path = "orbfont", features = ["no_std"] }
plain = "0.2.3"
redox_dmi = "0.1.1"
redox_hwio = "0.1.0"
redox_uefi = "0.1.0"
redox_uefi_std = "0.1.0"
spin = "0.5"
#x86 = "0.7"

[features]
default = []
debug = []

[patch.crates-io]
orbclient = { path = "orbclient" }
redox_uefi = { path = "uefi" }
redox_uefi_alloc = { path = "uefi_alloc" }
redox_uefi_std = { path = "uefi_std" }

[package.metadata.cargo-xbuild]
memcpy = true
sysroot_path = "build/xbuild"
